@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  display: block !important;
  font-family: "Roboto";
}
.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  color: #000000;
}

.notes-list {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#add-note {
  overflow-y: auto;
  background-color: white;
}

.notes-added {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-y: auto;
}

.note-card-details {
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color: #dae5f5;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: black;
  margin-left: 0;
  margin-right: 0;
  position: fixed;
  opacity: 0.9;
  z-index: 999;
}

.create-new-group-header {
  /* margin-left: auto; */
  margin-right: auto;
}

.create-new-group {
  height: 45vh;
  width: 45vw;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

#note-title {
  margin-left: auto;
  color: white;
  display: flex;
  width: 100%;
}

.pocket-notes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #dae5f5;
  width: 100%;
  align-items: center;
  text-align: center;
}

.pocketnotes-img-para {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pocket-notes-img {
  height: 15rem;
}

.pocket-notes-header {
  margin-bottom: 2rem;
}

.pocket-notes-para {
  color: #292929;
  margin-left: 20rem;
  margin-right: 15rem;
  font-weight: 500;
}

.pocket-notes-encryption {
  color: #292929;
  margin-bottom: 0;
}

.note-button {
  background-color: white;
  padding: 0.5rem;
  display: flex;
}

.note-title-inital {
  display: flex;
}

#add-button {
  position: fixed;
  z-index: 999;
  border-radius: 100%;
  color: white;
  font-size: 1rem;
  padding: 0;
  height: 3rem;
  width: 3rem;
  bottom: 2rem;
  left: 20rem;
}

.button-prop {
  display: flex;
  justify-content: flex-end;
  border-radius: 100%;
  height: 3rem;
  margin-bottom: 0;
}

#pocket-notes-heading {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2rem;
  align-self: center;
  margin-bottom: 2rem;
}

.add-new-note {
  list-style: none;
}

.note-card {
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
}
.note-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-right: 1rem;
  box-shadow: 0px 4px 20px 0px #00000040;
  padding: 1rem;
  background-color: white;
  margin-left: 1rem;
}

.input-note-and-button {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 8rem;
  margin: 0;
}

.note-card-button {
  padding: 0;
  width: 67%;
  margin-left: 1rem;
  margin-right: 1rem;
}

#new-note {
  width: 100%;
  border: none;
  margin-left: 2rem;
}

.input-button {
  background-color: white;
  padding: 0;
  border: none;
}

.notes-group {
  padding: 0;
  max-height: 18rem;
  overflow-y: auto;
}

.date-time {
  width: 5px;
}

.group-title-name {
  display: flex;
}

.group-title {
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
}

.group-initial-title {
  display: flex;
  background-color: white;
}

.group-input-name {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#group-name {
  width: 65%;
  height: 2rem;
  border-radius: 20px;
}

.group-color-button {
  /* margin-left: auto; */
  /* margin-right: auto; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* height: 3rem; */
}

.group-color {
  width: 65%;
  display: flex;
  justify-content: space-around;
  margin-left: 0;
}

.choose-color {
  height: 2.5rem;
  width: auto;
  border-radius: 100%;
}

.group-color-title {
  /* border: 2px solid black; */
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
}

.create-button {
  margin-left: auto;
  /* margin-right: auto; */
  margin-top: 1rem;
  color: white;
  background-color: #001f8b;
}

#title {
  color: white;
  font-size: 25px;
}

.note-color-title {
  margin-top: 0.5rem;
  font-size: 25px;
  border-radius: 100%;
}

.title-circle {
  border: 2px solid black;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  color: white;
  margin-right: 0.5rem;
}

.title-button {
  display: none;
}

@media (max-width: 767px) {
  .title-button {
    display: block;
    background-color: transparent;
    color: white;
  }
  .pocket-notes {
    display: none;
  }
  .notes-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }

  .create-new-group {
    margin-top: 10rem;
    width: 70%;
    height: 30%;
  }

  .create-new-group-header {
    margin-top: 1rem;
  }
  #group-name {
    width: 55%;
  }

  .group-color-button {
    display: flex;
    justify-content: space-between;
  }

  .group-color {
    width: auto;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .choose-color {
    height: 0.2rem;
    width: 0.2rem;
    padding-left: 0;
    margin-right: 0.5rem;
  }

  .create-button {
    margin-top: 0.5rem;
    width: 30%;
    height: 20%;
  }
}
